
@media print {

    .main {
      padding: 50px 0 35px;
    }

    .main-header {
      .row {
        div {
          &:last-of-type {
            display:none!important;
          }
          &.col-md-6 {
            &.col-lg-8 {
              max-width: 100%;
              flex: 100%;
              text-align: center;
            }
          }
        }
      }
    }

    .page-content {
      margin-top: 50px;
    }

    .container-fluid {
      overflow: visible;
    }
    accordion.panel-group 
    .panel 
    .card-header 
    .panel-title 
    .accordion-toggle {
      padding-left: 0!important;
      i {
        display: none;
      }
    } 
    .panel-title {
      font-size: 16px!important;
      font-weight: bold;
      color: #000!important;
    }

    .navbar,
    .RTE-slider,
    .breadcrumb,
    .sidebar,
    .RTE-video {
      display: none!important;
    }

    .collapse {
      &:not(.show) {
        display: block!important;
      }
    }

    .col-md-8 {
      max-width: 100%;
      flex: 100%;
    }

    .main-footer {
      display: none;
    }
    
      
    .card-body {
      padding: 0 10px!important;
    }

    .nav-social,
    .link_group,
    .ico-mission,
    .ico-responsabilite,
    .ico-profil,
    .ico-qualite {
      display: none!important;
    }

    .detail-offre {
      .list-detail-offre {
        .bloc {
          display: block!important;
          div {
            &:last-of-type {
              padding-left: 0!important;
            }
          }
        }
      }
      .type-offre {
        background: none!important;
        color: #000!important;
        display: block!important;
        min-width: inherit!important;
        text-align: left!important;
      }
    }
       
    .pre, blockquote {
      border : none;
    }

    .print-title {
      display: block!important;
      font-weight: 700;
      text-transform: uppercase;
    }


}