<div class="breadcrumb" id="element"><a [routerLink]="['/']" title="Accueil">Accueil</a>
  /
  Dernières informations
</div>
<div class="page-content actus">
  <h1>Dernières informations</h1>
  <!-- filre par catégorie -->
  <div class="filter">
    <label>Filtrer par</label>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <div class="form-wrapper select-wrapper">
            <select  class="form-control" (change)="filter_by_cat($event.target.value  , currentPage  )">
              <option   value="0">Tous</option>
              <option  *ngFor="let item of category" value={{item.slug}} [selected]="item.slug == currentIdCategory " >
                 {{item.name}}
              </option>
            </select>
          </div>
        </div>
    </div>
  </div>
  <!-- filre par catégorie -->
  <ul *ngIf="contentData?.length > 0; else other_list">
    <li *ngFor="let item of contentData">
      <a [attr.href]="[item.link]"  class="wrapper-list">
      <!-- Categories de l'actualite-->
          <!--Date du texte reglementaire-->
          <div class="day">

            <!-- jour -->
            <p class="date">{{ item.date_day  }}</p>
            <!-- jour -->

            <!-- mois -->
            <p class="month">{{ item.date_month }}</p>
            <!-- mois -->

            <!-- annee -->
            <p class="year">{{ item.date_year }}</p>
            <!-- annee -->

          </div>
          <!--Date du texte reglementaire-->

          <div class="text-content">

            <!-- Categories de themes et type de texte-->
              <div class="type">
                <p *ngFor="let cat of item.categories">
                  {{ cat.name }}
                </p>
              </div>
            <!-- Categories de themes et type de texte-->

            <!--titre-->
            <p>{{item.title}}</p>
            <!--titre-->
          </div>


      </a>

    </li>
  </ul>
  <ng-template #other_list><p class="not-element">Aucune actualité n'est disponible pour le moment, merci de revenir plus tard.</p></ng-template>

  <div class="row"  *ngIf="itemsCount > itemsPerPage ">
    <div class="col-xs-12 col-12 d-none d-xl-block">
      <pagination class="justify-content-center" [totalItems]="itemsCount" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [itemsPerPage]="itemsPerPage"  [nextText]="nextText" [previousText]="previousText" [firstText]="firstText" [lastText]="lastText" [boundaryLinks]="true" [maxSize]="maxSize"></pagination>
    </div>

    <!-- Pagination pour mobile  --> 
    <div class="col-xs-12 col-12 d-block d-xl-none">
      <div class="pager-mobile">
        <pagination class="justify-content-center" [totalItems]="itemsCount" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [itemsPerPage]="itemsPerPage"   [nextText]="mobileNextText" [previousText]="mobilePreviousText" [firstText]="mobileFirstText" [lastText]="mobileLastText" [boundaryLinks]="true" [maxSize]="mobileMaxSize" ></pagination>
      </div>
    </div>
    <!-- For mobile  -->
    
  </div>

</div>
